.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    }
    
    .locations,
    .amenities {
    height: 100%;
    width: 25%;
    position: relative;
    }
    
    .locations h3,
    .amenities h3 {
    font-weight: 600;
    }
    
    .locations h4,
    .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    }
    
    .popover {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
        max-height: 300px;
        overflow-y: scroll;
    }
    